anyio==3.7.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.8.0
asttokens==2.2.1
attrs==24.2.0
autopep8==2.0.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
comm==0.1.3
contourpy==1.1.0
crispy-tailwind==1.0.3
cryptography==42.0.5
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.8.0rc2
distlib==0.3.5
Django==5.0.3
django-appconf==1.0.6
django-browser-reload==1.12.1
django-ckeditor==6.5.1
django-compressor==4.5.1
django-cors-headers==4.3.1
django-crispy-forms==2.4
django-environ==0.12.0
django-js-asset==2.0.0
django-oauth-toolkit==2.3.0
django-rest-framework-social-oauth2==1.2.0
django-storages==1.14.6
django-summernote==0.8.20.0
django-tailwind==3.7.0
django-tenants==3.4.7
django-widget-tweaks==1.5.0
djangorestframework==3.15.0
djangorestframework-simplejwt==5.3.1
exceptiongroup==1.1.1
executing==1.2.0
Faker==24.8.0
fastjsonschema==2.17.1
filelock==3.8.0
fonttools==4.41.1
fqdn==1.5.1
h11==0.14.0
idna==3.6
ipykernel==6.23.1
ipython==8.13.2
ipython-genutils==0.2.0
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.2
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.6.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jwcrypto==1.5.6
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.7.2
matplotlib-inline==0.1.6
mistune==2.0.5
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.4.0
nbformat==5.8.0
nest-asyncio==1.5.6
notebook==6.5.4
notebook_shim==0.2.3
numpy==1.25.1
oauthlib==3.2.2
outcome==1.3.0.post0
overrides==7.3.1
packaging==23.1
panda==0.3.1
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
pbr==5.11.1
pickleshare==0.7.5
pillow==10.2.0
pipenv==2022.11.11
platformdirs==2.5.2
prometheus-client==0.17.0
prompt-toolkit==3.0.38
psutil==5.9.5
psycopg2==2.9.9
pure-eval==0.2.2
pycodestyle==2.10.0
pycparser==2.22
Pygments==2.15.1
PyJWT==2.8.0
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
python3-openid==3.2.0
pywin32==306
pywinpty==2.0.10
PyYAML==6.0
pyzmq==25.1.0
rcssmin==1.1.2
requests==2.31.0
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rjsmin==1.2.2
selenium==4.23.1
Send2Trash==1.8.2
six==1.16.0
sniffio==1.3.0
social-auth-app-django==5.4.0
social-auth-core==4.5.3
sortedcontainers==2.4.0
soupsieve==2.4.1
sqlparse==0.4.4
stack-data==0.6.2
stevedore==4.1.1
terminado==0.17.1
text-unidecode==1.3
tinycss2==1.2.1
tomli==2.0.1
tornado==6.3.2
traitlets==5.9.0
trio==0.26.2
trio-websocket==0.11.1
typing_extensions==4.10.0
tzdata==2022.7
uri-template==1.2.0
urllib3==2.2.1
virtualenv==20.16.3
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.7
wcwidth==0.2.6
webcolors==1.13
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
wsproto==1.2.0
