{% extends "base.html" %}
{% load static %}

{% block container %}
<!-- Navbar & Carousel Start -->
 
<div class="container-fluid position-relative p-0">
    {% include "nav.html" %}

    {% comment %} <div id="header-video" class="video-section position-relative">
        <video autoplay muted loop class="w-100 h-100 object-cover" style="object-fit: cover;">
            <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-overlay position-absolute top-0 start-0 w-100 h-100 d-flex flex-column align-items-center justify-content-center px-3">
            <div class="text-center p-3" style="max-width: 900px;">
                <h5 class="text-white text-uppercase mb-2 animated slideInDown" style="font-size: 1rem;">Your Gateway to Japan</h5>
                <h1 class="text-white mb-3 animated zoomIn" style="font-size: calc(1.5rem + 1vw);">Expert Guidance for Studying in Japan</h1>
                <p class="text-white mb-3 animated fadeInUp" style="font-size: calc(0.9rem + 0.5vw);">We provide comprehensive support for Nepalese students to achieve their academic dreams in Japan. From admission to visa assistance, we’re with you every step of the way.</p>
                <!-- Buttons (Optional) -->
                <!-- <a href="/" class="btn btn-primary py-2 px-4 me-2 animated slideInLeft">Explore Services</a>
                <a href="/" class="btn btn-outline-light py-2 px-4 animated slideInRight">Get in Touch</a> -->
            </div>
        </div>
    </div> {% endcomment %}

    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for item in carousel_items %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img class="w-100" src="{{ item.image.url }}" alt="{{ item.title }}">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">{{ item.subtitle }}</h5>
                            <h1 class="display-1 text-white mb-md-4 animated zoomIn">{{ item.title }}</h1>
                            <a href="{{ item.button_url_1 }}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">{{ item.button_text_1 }}</a>
                            <a href="{{ item.button_url_2 }}" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">{{ item.button_text_2 }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    

</div>

<!-- Navbar & Carousel End -->



    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

<!-- Facts Start -->
<div class="container-fluid facts py-5 pt-lg-0">
    <div class="container py-5 pt-lg-0">
        <div class="row gx-0">
            {% for fact in facts %}
            <div class="col-lg-3 wow zoomIn" data-wow-delay="{{ forloop.counter0|floatformat:1 }}s">
                <div class="bg-{{ fact.color }} shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                    <div class="{% if fact.color == 'primary' %}bg-white{% else %}bg-primary{% endif %} d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                        <i class="fa {{ fact.icon_class }} {% if fact.color == 'primary' %}text-primary{% else %}text-white{% endif %}"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="{% if fact.color == 'primary' %}text-white{% else %}text-primary{% endif %} mb-0">{{ fact.title }}</h5>
                        <h1 class="{% if fact.color == 'primary' %}text-white{% else %}text-primary{% endif %} mb-0" data-toggle="counter-up">{{ fact.count }}</h1>
                        <span class="{% if fact.color == 'primary' %}text-white{% else %}text-primary{% endif %}">+</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Facts End -->




    <!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">About Gowell</h5>
                    <h1 class="mb-0">Your Trusted Partner for Japan Studies</h1>
                </div>
                <p class="mb-4">
                    At Gowell, we specialize in providing expert guidance and support for Nepalese students aspiring to pursue their studies in Japan. With years of experience and a commitment to excellence, we have helped countless students achieve their academic dreams abroad.
                </p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Experienced Managers</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Tailored Guidance</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Comprehensive Support</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Affordable Services</h5>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Contact Us for Assistance</h5>
                        <h4 class="text-primary mb-0"> {{ company.phone }}</h4>
                    </div>
                </div>
                {% comment %} <a href="{% url 'quote' %}" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Get Started</a> {% endcomment %}
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="{% static 'img/about.jpg' %}" style="object-fit: cover;" alt="About Gowell">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->



<!-- Features Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Why Choose Us</h5>
            <h1 class="mb-0">Empowering Nepalese Students for a Brighter Future in Japan</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-globe text-white"></i>
                        </div>
                        <h4>Extensive Network</h4>
                        <p class="mb-0">We collaborate with top universities and institutions in Japan to ensure the best opportunities for you.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-book text-white"></i>
                        </div>
                        <h4>Comprehensive Guidance</h4>
                        <p class="mb-0">From documentation to interview preparation, we support you every step of the way.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="{% static 'img/feature.jpg' %}" style="object-fit: cover;" alt="Our Features">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-user-graduate text-white"></i>
                        </div>
                        <h4>Experienced Managers</h4>
                        <p class="mb-0">Our team has years of experience in helping students achieve their academic goals in Japan.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-handshake text-white"></i>
                        </div>
                        <h4>Personalized Support</h4>
                        <p class="mb-0">We provide customized solutions tailored to your unique needs and aspirations.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->



<!-- Services Start -->
{% include "services.html" %}
<!-- Services End -->





<!-- Testimonial Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Testimonial</h5>
            <h1 class="mb-0">What Our Clients Say About Our Digital Services</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
            {% for testimonial in testimonials %}
            <div class="testimonial-item bg-light my-4">
                <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                    <img class="img-fluid rounded" src="{{ testimonial.photo.url }}" style="width: 60px; height: 60px;" alt="{{ testimonial.name }}">
                    <div class="ps-4">
                        <h4 class="text-primary mb-1">{{ testimonial.name }}</h4>
                        <small class="text-uppercase">{{ testimonial.profession }}</small>
                    </div>
                    <div class="ms-auto">
                        <i class="fa fa-star text-primary"></i>
                        <i class="fa fa-star text-primary"></i>
                        <i class="fa fa-star text-primary"></i>
                        <i class="fa fa-star text-primary"></i>
                        <i class="fa fa-star text-primary"></i>
                    </div>
                </div>
                <div class="pt-4 pb-5 px-5">
                    {{ testimonial.message }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Testimonial End -->



<!-- Team Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Our Team</h5>
            <h1 class="mb-0">Dedicated Professionals Assisting You with Japan Studies</h1>
        </div>
        <div class="row g-5">
            {% for member in team_members %}
            <div class="col-lg-4 wow slideInUp" data-wow-delay="{{ forloop.counter0|floatformat:1 }}s">
                <div class="team-item bg-light rounded overflow-hidden">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{ member.photo.url }}" alt="{{ member.name }}">
                    </div>
                    <div class="text-center py-4">
                        <h4 class="text-primary">{{ member.name }}</h4>
                        <p class="text-uppercase m-0">{{ member.position }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->




<!-- Blog Start -->
{% comment %} <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Latest Articles</h5>
            <h1 class="mb-0">Stay Updated with Japan Studies Insights</h1>
        </div>
        <div class="row g-5">
            <!-- Blog Post 1 -->
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="blog-item bg-light rounded overflow-hidden">
                    <div class="blog-img position-relative overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/blog-1.jpg' %}" alt="Study in Japan Blog">
                        <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Study Tips</a>
                    </div>
                    <div class="p-4">
                        <div class="d-flex mb-3">
                            <small class="me-3"><i class="far fa-user text-primary me-2"></i>Astha Bhandari </small>
                            <small><i class="far fa-calendar-alt text-primary me-2"></i>10 Jan, 2025</small>
                        </div>
                        <h4 class="mb-3">Top Tips for Preparing for Japanese University Entrance</h4>
                        <p>Learn effective strategies for excelling in Japanese university applications and interviews.</p>
                        <a class="text-uppercase" href="#">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Blog Post 2 -->
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                <div class="blog-item bg-light rounded overflow-hidden">
                    <div class="blog-img position-relative overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/blog-2.jpg' %}" alt="Japanese Culture Blog">
                        <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Cultural Insights</a>
                    </div>
                    <div class="p-4">
                        <div class="d-flex mb-3">
                            <small class="me-3"><i class="far fa-user text-primary me-2"></i>Purnima Budhathoki</small>
                            <small><i class="far fa-calendar-alt text-primary me-2"></i>15 Jan, 2025</small>
                        </div>
                        <h4 class="mb-3">Understanding Japanese Culture for International Students</h4>
                        <p>Discover the cultural nuances and traditions to adapt smoothly as a student in Japan.</p>
                        <a class="text-uppercase" href="#">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Blog Post 3 -->
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                <div class="blog-item bg-light rounded overflow-hidden">
                    <div class="blog-img position-relative overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/blog-3.jpg' %}" alt="Visa Blog">
                        <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Visa Guidance</a>
                    </div>
                    <div class="p-4">
                        <div class="d-flex mb-3">
                            <small class="me-3"><i class="far fa-user text-primary me-2"></i>Hari Prasad</small>
                            <small><i class="far fa-calendar-alt text-primary me-2"></i>20 Jan, 2025</small>
                        </div>
                        <h4 class="mb-3">Navigating the Japan Student Visa Process</h4>
                        <p>A step-by-step guide to successfully applying for a student visa for Japan.</p>
                        <a class="text-uppercase" href="#">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- Blog End -->





<!-- FAQ Start -->
<div class="container-fluid py-5">
    <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
        <h5 class="fw-bold text-primary text-uppercase">Faqs</h5>
        <h1 class="mb-0">Frequently Asked Questions</h1>
    </div>
    <div class="row container py-5 mx-auto">
        <div class="accordion" id="faqAccordion">
            {% for faq in faqs %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                    <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" 
                            type="button" data-bs-toggle="collapse" 
                            data-bs-target="#collapse{{ forloop.counter }}" 
                            aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" 
                            aria-controls="collapse{{ forloop.counter }}">
                        {{ faq.question }}
                    </button>
                </h2>
                <div id="collapse{{ forloop.counter }}" 
                     class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" 
                     aria-labelledby="heading{{ forloop.counter }}" 
                     data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        {{ faq.answer }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- FAQ End -->


<!-- Quote Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">Get In Touch</h5>
                    <h1 class="mb-0">Looking for Guidance? Feel Free to Contact Us</h1>
                </div>
                <div class="row gx-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-4"><i class="fa fa-reply text-primary me-3"></i>Reply within 24 hours</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-4"><i class="fa fa-phone-alt text-primary me-3"></i>24/7 Phone Support</h5>
                    </div>
                </div>
                <p class="mb-4">Our team is here to help you navigate your journey to Japan. Whether you need information about studying, visas, or career opportunities, we ensure quick and accurate responses to all your queries.</p>
                <div class="d-flex align-items-center mt-2 wow zoomIn" data-wow-delay="0.6s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Call to ask any question</h5>
                        <h4 class="text-primary mb-0">+{{ company.phone }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="bg-primary rounded h-100 d-flex align-items-center p-5 wow zoomIn" data-wow-delay="0.9s">
                    <form>
                        <div class="row g-3">
                            <div class="col-xl-12">
                                <input type="text" class="form-control bg-light border-0" placeholder="Your Name" style="height: 55px;" required>
                            </div>
                            <div class="col-12">
                                <input type="email" class="form-control bg-light border-0" placeholder="Your Email" style="height: 55px;" required>
                            </div>
                            <div class="col-12">
                                <select class="form-select bg-light border-0" style="height: 55px;" required>
                                    <option selected>Select A Service</option>
                                    <option value="1">Study Abroad Counseling</option>
                                    <option value="2">Visa Assistance</option>
                                    <option value="3">Japanese Language Classes</option>
                                    <option value="4">Career Counseling</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control bg-light border-0" rows="3" placeholder="Message" required></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-dark w-100 py-3" type="submit">Request Assistance</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quote End -->

{% endblock container %}